
# I haven't been able to prove that either ~, $HOME, or ${XDG_CONFIG_HOME:-${HOME}/.config} works here. Hardcoding a reasonable value
# Huh. wget doesn't respect this setting, even at all. Oops.
# See https://www.gnu.org/software/wget/manual/html_node/Wgetrc-Commands.html
hsts-file = /home/jakebman/.cache/wget/hsts

# For automatic API access to an artifactory instance, for instance.
# This is DANGEROUS to use. Please be careful
header = X-JFrog-Art-Api:...
