# EditorConfig is awesome: http://EditorConfig.org

# this is the top-level config. You can stop looking
root = true

# Reasonable defaults
[*]
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8

trim_trailing_whitespace = true
insert_final_newline = true

# My ~/bin files should be considered shell files, unless a rule below overrides it
[{bin/*,**.*sh,test/run,**.bats}]
indent_size = tab
indent_style = tab

shell_variant      = bash
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = false # like -kp
end_of_line        = lf

# A refinement for bats files
[**.bats]
shell_variant = bats

[**.pm6]
indent_size = 4

[**.py]
# I have a .py file in ~/bin. It's not shell, so I want to undo the ~/bin rule
indent_size = 4
indent_style = space
shell_variant = unset

[**.{md,rst}]
# Trailing whitespace is meaningful to Markdown (and reStructuredText?) files
trim_trailing_whitespace = false

# All git configuration files, in bare, fake-bare, and non-bare repos
[{.git*,**/*.git/config,**/git/config}]
indent_size = tab
indent_style = tab

# Build-like files seem to enjoy tabs (build.gradle is from spring initializr)
[{Makefile,build.gradle}]
indent_size = tab
indent_style = tab

[*.java]
# Approximately equivalent to IntelliJ default settings
indent_size = 4
max_line_length = 120

