[user]
	name = Jake Boeckerman
	email = jake.boeckerman@charter.com
[alias]
	co = checkout
	dif = diff
	comit = commit
[checkout]
	defaultRemote = origin
[init]
	defaultBranch = main
[lfs]
	locksverify = false
[http]
	sslcainfo = /home/jakebman/P2776931/.config/git-jake-certificate-store/ca-bundle.crt
[push]
	autoSetupRemote = true
[help]
	autoCorrect = prompt
