[submodule "editorconfig-vim"]
	path = .config/vim/pack/editorconfig/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
	branch = master
	# use a non-detached HEAD strategy in the submodule
	update = rebase
[submodule "gitstatus"]
	path = bin/gitstatus
	url = git@github.com:romkatv/gitstatus.git
	branch = master
	# use a non-detached HEAD strategy in the submodule
	update = rebase
[submodule "obsession-vim"]
	path = .config/vim/pack/obsession/start/obsession
	url = git@github.com:tpope/vim-obsession.git
	branch = master
	# use a non-detached HEAD strategy in the submodule
	update = rebase
[submodule "polyglot-vim"]
	# TODO: .cpy files aren't recognized (for rmkit & some reMarkable tablet stuff)
	# https://github.com/ideawu/cpy
	path = .config/vim/pack/vim-polyglot/start/vim-polyglot
	# until sheerun's upstream merges my java sh-band line
	url = https://github.com/jakebman/vim-polyglot
	branch = master
	# use a non-detached HEAD strategy in the submodule
	update = rebase
