[user]
	name = Jake Boeckerman
	email = jakebman@gmail.com
[alias]
	co = checkout
	dif = diff
	idff = diff
	comit = commit
	statu = status
	ignored = status --ignored
	tpush = push
	# https://stackoverflow.com/questions/2363197/can-i-get-a-list-of-files-marked-assume-unchanged/2363495#2363495
	assumed-unchanged = !git ls-files -v | grep "^[[:lower:]]"
	up = pull
	staged = diff --staged
	rainbow = log --oneline --graph
	aliases = ! git config --get-regexp '^alias\\.' | sed 's/^alias\\./alias: /g' | sort | less
	logp = log -p
	dff = diff
	ocmmit = commit
	# TODO: once bat is capable of respecting GIT_DIR and GIT_WORK_DIR, these should migrate to
	# git-j, git-jdf, and git-jws shell scripts.
	# (Aliases do not run under an environment that receives GIT_DIR or GIT_WORK_DIR)
	j = !j
	jdf = !j --diff
	jws = !j --ws
	env = "!f() { echo EDITOR=$EDITOR; set ; } ; f"
	# cute aliases from https://stackoverflow.com/a/52896091/285944
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	unstage = restore --staged
	# stage = diff --staged # Fails, because stage is already a command
[checkout]
	defaultRemote = origin
[init]
	defaultBranch = main
[lfs]
	locksverify = false
[push]
	autoSetupRemote = true
[help]
	autoCorrect = prompt
[pager]
	status = true # `git status` should always use a pager
[diff]
	tool = vimdiff
	mnemonicPrefix = true
[blame]
	date = human
