[user]
	name = Jake Boeckerman
	email = jake.boeckerman@charter.com
[alias]
	co = checkout
	dif = diff
	comit = commit
	# https://stackoverflow.com/questions/2363197/can-i-get-a-list-of-files-marked-assume-unchanged/2363495#2363495
	assumed-unchanged = !git ls-files -v | grep "^[[:lower:]]"
[checkout]
	defaultRemote = origin
[init]
	defaultBranch = main
[lfs]
	locksverify = false
[http]
	sslcainfo = /home/jakebman/P2776931/.config/git-jake-certificate-store/ca-bundle.crt
[push]
	autoSetupRemote = true
[help]
	autoCorrect = prompt
[pager]
	status = true
