
# This is created by IntelliJ's "open a project within WSL" integration.
# IT's nice... but I don't care to track IntelliJ settings as dotfiles
# I would prefer IntelliJ's Settings -> "Backup and Sync" functionality
IntelliJIdea*/
