
# These files are deeply nested, but the .gitignore rules can reach them from here
# They don't need to be ever tracked
.user.lock.*
.userRootModFile.*

# This ends up being just a command history. Not an XDG 'config', but 'state' or 'cache'
**/JShell/prefs.xml
