
# This is the .gitignore for my ~/.config ($XDG_CONFIG_HOME) folder
# It is NOT a global configuration file, despite living in the folder where global configuration files live.
# It *governs* the ignore rules that git will follow when enforcing version control upon those files.
# Therefore, it needs to 1) be in this folder, and 2) have this exact name. Otherwise,
# it won't work.

# Style-wise, I'd like this file to contain folders that represent large swaths of files that need to be ignored
# The sort of things that should otherwise live in a different place, like $XDG_DATA_HOME or $XDG_CACHE_HOME

aws/*/cache/
docker/buildx/
eksctl/clusters/
maven/mvnd/registry/
maven/wrapper/dists/
vcsh/repo.d/
