<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0   http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>charter-snapshot</id>
            <username>charter-dev</username>
            <password>{S9xeJJSysFUHSyEZeLrFHsNuBjG0aRhjS8FIKdlSSx4=}</password>
        </server>
        <server>
            <id>Artifactory-nns-remote</id>
            <username>jake.boeckerman@spectrum.com</username>
            <!-- token id is 546b8b2b-3e8e-4351-8338-5e09a3ca863, expires June 9, 2027 -->
            <password>{PREFvnZmRoEHiBEpiHWKoZHtg/F8w33X7KxMJbXF/aC2mIJ45paBL9q691gpXfj9ovk9PWScsMWIZbqqdoVNRaaAjp7M2wgm8XH9GI7o1Bc1hj+u6Pa/k5TJCrffqK62}</password>
        </server>
        <server>
            <id>Artifactory-Release</id>
            <username>jake.boeckerman@spectrum.com</username>
            <!-- token id is 546b8b2b-3e8e-4351-8338-5e09a3ca863, expires June 9, 2027 -->
            <password>{PREFvnZmRoEHiBEpiHWKoZHtg/F8w33X7KxMJbXF/aC2mIJ45paBL9q691gpXfj9ovk9PWScsMWIZbqqdoVNRaaAjp7M2wgm8XH9GI7o1Bc1hj+u6Pa/k5TJCrffqK62}</password>
        </server>
        <server>
            <!-- TODO: the URL configured for this seems to 403:
                  com.twc.mystro.mas.share:ump_stbmgr/maven-metadata.xml failed to transfer from https://artifactory.spectrumtoolbox.com/artifactory/libs-snapshot/ during a previous attempt. This failure was cached in the local repository and resolution will not be reattempted until the update interval of Artifactory-Snapshot has elapsed or updates are forced. Original error: Could not transfer metadata com.twc.mystro.mas.share:ump_stbmgr/maven-metadata.xml from/to Artifactory-Snapshot (https://artifactory.spectrumtoolbox.com/artifactory/libs-snapshot/): status code: 403, reason phrase:  (403)
            -->
            <id>Artifactory-Snapshot</id>
            <username>jake.boeckerman@spectrum.com</username>
            <!-- token id is 546b8b2b-3e8e-4351-8338-5e09a3ca863, expires June 9, 2027 -->
            <password>{PREFvnZmRoEHiBEpiHWKoZHtg/F8w33X7KxMJbXF/aC2mIJ45paBL9q691gpXfj9ovk9PWScsMWIZbqqdoVNRaaAjp7M2wgm8XH9GI7o1Bc1hj+u6Pa/k5TJCrffqK62}</password>
        </server>
        <server>
            <id>Artifactory-Public</id>
            <username>jake.boeckerman@spectrum.com</username>
            <!-- token id is 546b8b2b-3e8e-4351-8338-5e09a3ca863, expires June 9, 2027 -->
            <password>{PREFvnZmRoEHiBEpiHWKoZHtg/F8w33X7KxMJbXF/aC2mIJ45paBL9q691gpXfj9ovk9PWScsMWIZbqqdoVNRaaAjp7M2wgm8XH9GI7o1Bc1hj+u6Pa/k5TJCrffqK62}</password>
        </server>
    </servers>
    <!-- These mirrors are to get around http blocker in maven. These Charter-internal repos are safe -->
    <mirrors>
        <mirror>
            <id>local-repository-mirror</id>
            <mirrorOf>local-nns-artifactory</mirrorOf>
            <name>Pseudo repository to mirror internal nns repositories initially using HTTP.</name>
            <!--<url>http://96.37.182.105:8081/artifactory/nns-local</url> -->
            <url>http://nexus.ctec.charterlab.com/content/groups/public</url>
        </mirror>
        <mirror>
            <id>nexus-public-mirror</id>
            <mirrorOf>nexus-public,nexus-nns-public,jitpack.io</mirrorOf>
            <name>Pseudo repository to mirror internal nns repositories initially using HTTP.</name>
            <url>http://nexus.ctec.charterlab.com/content/groups/public</url>
        </mirror>
        <mirror>
            <id>nexus-public-snapshots-mirror</id>
            <mirrorOf>nexus-public-snapshots,nexus-public-nns-snapshots</mirrorOf>
            <name>Pseudo repository to mirror internal nns repositories initially using HTTP.</name>
            <url>http://nexus.ctec.charterlab.com/content/groups/public-snapshots</url>
        </mirror>
        <mirror>
            <id>ctec-nexus-releases-mirror</id>
            <mirrorOf>ctec-nexus-releases</mirrorOf>
            <name>Pseudo repository to mirror internal nns repositories initially using HTTP.</name>
            <url>http://nexus.ctec.charterlab.com/content/repositories/releases</url>
        </mirror>
        <mirror>
            <id>ctec-nexus-snapshots-mirror</id>
            <mirrorOf>ctec-nexus-snapshots</mirrorOf>
            <name>Pseudo repository to mirror internal nns repositories initially using HTTP.</name>
            <url>http://nexus.ctec.charterlab.com/content/repositories/snapshots</url>
        </mirror>
        <mirror>
            <id>ctec-nexus-public-mirror</id>
            <mirrorOf>ctec-nexus-public</mirrorOf>
            <name>Pseudo repository to mirror internal nns repositories initially using HTTP.</name>
            <url>http://nexus.ctec.charterlab.com/content/repositories/public</url>
        </mirror>
    </mirrors>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>docker-is-not-always-there</id>
            <activation>
                <file>
                    <!--
                        This file is created by the docker WSL integration.
                        It won't exist until docker is up and running.
                    -->
                    <missing>/usr/bin/docker-credential-desktop.exe</missing>
                </file>
            </activation>
            <properties>
                <!--
                    The com.spotify:dockerfile-maven-plugin:build goal tries to run docker-credential-desktop.exe.
                    If that fails, the goal and the rest of the build fails.

                    But! We can ask maven to check if that file exists.
                    If it's missing, then we should disable this part of the docker build

                    https://github.com/spotify/dockerfile-maven/blob/master/docs/usage.md
                -->
                <dockerfile.skip>true</dockerfile.skip>
                <!-- Smear a bunch of callbacks to this profile if possible -->
                <jake.docker.breadcrumb>JAKE_ERROR! Docker integration not found. See your ~/.m2/settings.xml file to disable this behavior</jake.docker.breadcrumb>
                <dockerfile.contextDirectory>${jake.docker.breadcrumb}</dockerfile.contextDirectory>
                <dockerfile.repository>${jake.docker.breadcrumb}</dockerfile.repository>
                <dockerfile.tag>${jake.docker.breadcrumb}</dockerfile.tag>
                <dockerfile.build.cacheFrom>${jake.docker.breadcrumb}</dockerfile.build.cacheFrom>
            </properties>
        </profile>
    </profiles>
</settings>
