registry=https://artifactory.spectrumtoolbox.com/artifactory/api/npm/npm/

# npm 11 notifies me that this is base64-encoded in <registry>:_auth, and it is:
# email=...

# deprecated in npm 7. to be removed in npm 12:
# always-auth=true

# Be sure not to commit your secrets!
# Scoped auth is cool, btw: https://docs.npmjs.com/cli/v8/configuring-npm/npmrc#auth-related-configuration
//artifactory.spectrumtoolbox.com/artifactory/api/npm/npm/:_auth="Not a secret"

# For my own convenience, to match the NNS-land tagging conventions
tag-version-prefix=Release-

# Not sure I can rely on bash-default syntax to make this perfect (${XDG_CACHE_HOME-${HOME-~}/.cache}), so:
cache=~/.cache/npm


# "Global" installs are "per-user" installs
# https://stackoverflow.com/a/13021677/285944
# https://docs.npmjs.com/cli/v10/commands/npm-config#global
# https://docs.npmjs.com/cli/v10/configuring-npm/folders#prefix-configuration

prefix=${HOME}/.local
